:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

html, body{
  background-color: black;
    width: 100%;
    height: 100%;
    
}


.parent{
  background-color:black;
  height: 100vh;
  width: 100%;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* align-items: ; */
  padding: 30px;
}


.crd{
  width: 300px;
  height: 350px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 30px;
  /* height: ; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* margin: auto; */
  margin: 20px 10px;
  /* margin-top: 100px; */
  /* color:purple; */
  /* padding: 10px; */
  /* text-align: center; */
  /* border-radius: 10px; */
}

.crd .div1{
  display: flex;
  /* background-color: rgb(0, 255, 4); */
  /* height: 10px; */
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  /* gap: 10px; */
}

img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #dadada;
  margin: 10px;
  padding: 2px;
}

.div1 button{

  margin: 15px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* background-color: rgb(236, 125, 125); */
  /* text-align: end; */
  /* border: none; */
  background-color: transparent;
  color: #b1b1b1;
  padding: 4psx 8px;
  border: 1px solid #dadada;
  border-radius: 5px;
  /* color: white; */
  /* text-align: center; */
  /* padding: ; */
  font-size: 11px;
  gap: 3px;
  font-display: bold;

  /* padding: 5px 10px; */
}

.crd .div1 button:hover{
  background-color: rgb(252, 0, 0);
  cursor: pointer;
}

.cen{
  /* background-color: green; */
  /* display:block; */
  /* display: flex; */
  /* flex-direction: column; */
}
.cen h3{
  margin: 10px;
  /* display: flex; */
  /* justify-content: ; */
  /* gap: 4px; */
  align-items: center;
  font-weight: 400;
  color: black;
  font-size: 25px;
}

.cen h3 span{
  font-size: 14px;
  color: #b1b1b1;
  font-weight: normal;
  text-align: right;
  /* padding: 2px; */
}

.cen h2{
  margin: 10px;
  font-size: 26px;
  color: #555555;
  /* font-weight: normal; */
}
.cen .tags{
  display: flex;
  gap: 5px;
  margin: 10px;
  color : #777777;
  margin-top: 10px;
  /* background-color: yellow; */
}

.cen .tags h4{
  font-size: 14px;
  background-color: #dadada;
  color: #111;
  padding: 4px 8px;
  border: 1px solid #dadada;
  border-radius: 5px;
}
.bot{
  display: flex;
  align-items: center;
  padding-top: 15px;
  justify-content: space-between;
  /* margin: 10px; */
  border-top: 1px solid #dadada;
  /* background-color: red; */
}

.bot h3{
  font-size: 17px;
}

.bot p{
  font-size: 14px;
  color: #777777;
}
.bot button{
  background-color: rgb(14, 5, 5);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}